body .btnColor {
    color: green;
}

body .listPanel .btnColor {
    color: red;
}

body .listPanel .labelColor {
    color: red;
}

body .detailPanel .btnColor {
    color: blue;
}
body .textAR{
    color:blue;
    font-family:'Times New Roman', Times, serif;
    font-size:largers;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px;
}

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%;
}