body .btnColor {
  color: green; }

body .listPanel .btnColor {
  color: red; }

body .listPanel .labelColor {
  color: red; }

body .detailPanel .btnColor {
  color: blue; }

body .textAR {
  color: blue;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger; }

.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px; }

table tr:nth-child(odd) {
  background-color: #f2f2f2; }

table tr:nth-child(even) {
  background-color: #ffffff; }

.chkbtn {
  color: aqua; }
