body .btnColor {
  color: green; }

body .listPanel .btnColor {
  color: red; }

body .listPanel .labelColor {
  color: red; }

body .detailPanel .btnColor {
  color: blue; }

body .textAR {
  color: blue;
  font-family: 'Times New Roman', Times, serif;
  font-size: largers; }
